@import "foundation_and_overrides";

$foundation-5-top-bar-bg: #333;
$foundation-5-top-bar-text-color: $white;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

/*----------navbar---------*/

.foundation-5-top-bar {
  background: $foundation-5-top-bar-bg;
  color: $foundation-5-top-bar-text-color;
  box-shadow: inset 2px 2px 4px 4px rgba( 0, 0, 0, 0.5);

  .menu {
    background: $foundation-5-top-bar-bg;

    a {
      color: $foundation-5-top-bar-text-color;
    }
  }

  .is-dropdown-submenu {
    border: 0;
  }

  .is-dropdown-submenu-item.opens-right a::after {
    border-color: transparent transparent transparent $foundation-5-top-bar-text-color;
  }

  .js-drilldown-back > a::before {
    border-color: transparent $foundation-5-top-bar-text-color transparent transparent;
  }

  .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent $foundation-5-top-bar-text-color;
  }

  .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: $foundation-5-top-bar-text-color transparent transparent;
  }
}

.top-bar-title {
  color: whitesmoke;
  font-size: 1.3em; 
  font-style: italic;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: bold;
}

.top-bar-title:hover {
  color: whitesmoke;
}


.container {
  margin: 100px;
}

/*-------------hero-------------*/

$hero-height: 90vh;

.hero-section {
  background: asset-url('blog.jpg') 50% no-repeat;
  background-size: cover;
  background-position: left 15% bottom 15%;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text h1 {
    color: black;
    margin-top: 20vh;
    padding: 1rem;
    font-family: inherit;
    font-size: 5rem;
    text-shadow: 12px 12px 20px $black;
    text-transform: uppercase;
  }
}
/*---------------signup button---------------*/

$button-rounded-hover-radius: 5000px;
$button-rounded-hover-border: 5px solid black;

.button-rounded-hover {
  border: 0;
  border-radius: $button-rounded-hover-radius;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: $white;
  transition: all 0.3s;
  transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: $button-rounded-hover-border;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: darken($primary-color, 10%);
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  transform: translateX(0%);
  opacity: 0.25;
}

/*-----------------General buttons----------------*/

.button {
  background: firebrick;
  border-radius: 1rem;
}

.button:hover {
  background: #333
}


.floated-label-wrapper {
  position: relative;

  label {
    background: $white;
    color: $primary-color;
    font-size: 0.75rem;
    font-weight: 600;
    left: 0.75rem;
    opacity: 0;
    padding: 0 0.25rem;
    position: absolute;
    top: 2rem;
    transition: all 0.15s ease-in;
    z-index: -1;

    input[type=text],
    input[type=email],
    input[type=password] {
      border-radius: 4px;
      font-size: 1.75em;
      padding: 0.5em;
    }

    &.show {
      opacity: 1;
      top: -0.85rem;
      z-index: 1;
      transition: all 0.15s ease-in;
    }
  }
}

/*-------------Messages Styling-----------------*/
$alert-box-opacity: 0.2;

.alert-box {
  padding-right: 3.25rem;
  width: 100%;

  &.callout {
    color: $black;
    font-weight: bold;
  }

  &.alert {
    border: 3px solid $alert-color;
    border-radius: 5px;
    background-color:rgba($alert-color, $alert-box-opacity);
  }

  &.warning {
    border: 3px solid $warning-color;
    border-radius: 5px;
    background-color:rgba($warning-color, $alert-box-opacity);
  }

  &.success {
    border: 3px solid $success-color;
    border-radius: 5px;
    background-color:rgba($success-color, $alert-box-opacity);
  }

  &.info {
    border: 3px solid $primary-color;
    border-radius: 5px;
    background-color:rgba($primary-color, $alert-box-opacity);
  }

  i {
    border: 2px solid $white;
    border-radius: 50%;
    padding: .3em .325em;
    margin-right: 0.5rem;
  }

  .close-button {
    color: rgba($white, 0.5);
    font-size: 2rem;
    @include vertical-center;
    right: 1rem;
    font-weight: bold;
  }
}


/*-------------Blockquote Styling--------------*/
.blockquote-container {
  &.blockquote-left {
    float: left;
    width: 35%;
    margin-right: $global-margin;

    @include breakpoint (small only) {
      float: none;
      margin: 0;
      width: 100%;
    }
  }

  &.blockquote-right {
    float: right;
    width: 35%;
    margin-left: $global-margin;
  }

  .callout {
    .blockquote-title {
      margin-left: 1rem;
    }

    blockquote {
      quotes: "“""”""‘""’  ";
      border-left: none;

      &:before {
        content: open-quote;
        color: $dark-gray;
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.4em;
      }

      &:after {
        content: close-quote;
        color: $dark-gray;
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.6em;
      }

      .blockquote-content {
        display: inline;
        color: $black;
      }
    }
  }
}

/*footer*/

.footer-container {
  margin-top:  20%;
  background: #333;
  text-align: center;
  color: white;
}





